body {
    overflow: scroll !important;
}

header {
    width: 98%;
    border-bottom: 2px solid #999;
    margin-top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo {
    height: auto;
    width: 8rem;
}

.movie-card {
    transition: all .2s ease-in-out;
}

    .movie-card:hover {
        transform: scale(1.6);
    }

.afont:hover {
    transform: scale(1.1);
}

.mr {
    margin-right: 1.5rem;
}

.afont {
    font-size: 1.5rem;
    color: #999;
    text-decoration: none;
    transition: all .2s ease-in-out;
}
