@page "/PlayFilm/{Id:int}"
@inject IClientService Service

<div class="d-flex flex-column">
    <a href="/Film/@Film.Id" class="btn btn-dark rounded-1"><i class="fa-solid fa-left-long"></i></a>
    @if(Film != null && Film.VideoURL != null)
    {
        <div class="video-player">
            <iframe src="@Film.VideoURL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    }
    <h3>@Film.Title</h3>
</div>

@code {
    [Parameter] public int Id { get; set; } = new();
    public FilmDTO Film { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Film = await Service.SingleAsync<FilmDTO>("Film", Id);
        Film.VideoURL = Film.VideoURL.Replace("watch?v=", "embed/");
    }
}
