@page "/"

<PageTitle>Index</PageTitle>
<img src="/css/images/logo-black.png" alt="logo" class="center" />
<h1 class="text-xxl-center"> Welcome to NetFilm - Movie Database Administration Pannel. </h1>




